<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, maximum-scale=1.0">
 <title>Giriş Sayfası</title>
 <link rel="stylesheet" href="/login.css">
</head>
<body>
    <div class="form-container">
        <h2>Giriş Yap (CHAT_Ozox)</h2>
        <form action="/login" method="POST">
            <div class="input-container">
                <input type="text" name="email" id="email" required>
                <label for="email">Email</label>
                <span class="underline"></span>
            </div>
            <div class="input-container">
                <input type="password" name="password" id="password" required>
                <label for="password">Şifreniz</label>
                <span class="underline"></span>
            </div>
            <div class="checkbox-container">
                <label for="toggleCheck">Şifreyi Göster
                <input type="checkbox" id="toggleCheck" onclick="password.type = this.checked ? 'text' : 'password'">
                <span class="icon">👁️</span>
                </label>
            </div>
            <!--div class="password-container">
            <label class="toggle-password">
              <input type="checkbox" id="toggleCheck" onchange="password.type = this.checked ? 'text' : 'password'">
              <span class="icon">👁️</span>
            </label>
            </div-->
            <button type="submit" class="submit-btn">Giriş Yap</button>
        </form>
    </br>
       <p>Hesabınız yokmu? <a href="/signup">Hesap Aç</a></p>
    </div>
</body>
</html>