<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Giriş Sayfası</title>
 <link rel="stylesheet" href="/login.css">
</head>
<body>
    <div class="form-container">
        <h2>2 Aşamalı kodunuzu girin (CHAT_Ozox)</h2>
        <form action="/login2fa" method="POST">
            <div class="form-group" >
                <label for="code">Kodunuz</label>
                <input type="text" name="token" id="token" placeholder="2Fa Kodunuzu Girin" required>
            </div>
                <button type="submit" class="submit-btn">Giriş Yap</button>
        </form>
    </div>
</body>
</html>